/*
=======================================================
Lightbox.js
Version: 0.0.6
Author: Victor Diego <victordieggo@gmail.com>
License: MIT
=======================================================
1. Base Styles
2. Buttons
3. Videos
4. Animations
=======================================================
*/

/*
-------------------------------------------------------
1. Base Styles
-------------------------------------------------------
*/

.remove-scroll {
  overflow: hidden;
}

.lightbox-hide {
  top: -9999px;
  left: -9999px;
  position: absolute;
  visibility: hidden;
}

.lightbox-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 2em;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgb(29, 29, 29);
  background-color: rgba(29, 29, 29, 0.8);
}

.lightbox-wrapper {
  position: relative;
}

.lightbox-image {
  max-height: 100vh;
  vertical-align: middle;
}

/*
-------------------------------------------------------
2. Buttons
-------------------------------------------------------
*/

.lightbox-btn {
  width: 2.2em;
  height: 2.2em;
  position: absolute;
  border-radius: 50%;
  transition: all 0.3s;
  background-color: #000;
  background-position: center;
  background-repeat: no-repeat;
}

.lightbox-btn:disabled {
  cursor: initial;
  background-color: #adadad;
}

.lightbox-btn-close {
  top: -0.8em;
  right: -0.8em;
  background-size: 40%;
  background-image: url('icons/icon-lightbox-close.svg');
}

.lightbox-btn-next,
.lightbox-btn-previous {
  top: calc(50% - (2.2em / 2));
  background-size: 25% 80%;
  background-image: url('icons/icon-lightbox-arrow.svg');
}

.lightbox-btn-previous {
  left: 1.5em;
  transform: rotate(180deg);
}

.lightbox-btn-next {
  right: 1.5em;
}

/*
-------------------------------------------------------
3. Videos
-------------------------------------------------------
*/

.lightbox-video-wrapper {
  width: 80vw;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
}

.lightbox-video-player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

/*
-------------------------------------------------------
4. Animations
-------------------------------------------------------
*/

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes createBox {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

@keyframes deleteBox {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}
